.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: #3c98cc;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}

.accordion-body {
  padding: 0px 0px;
}

.accordion-item {
  border: 0;
}
.desktop-page-container
  .techwave_fn_leftpanel
  .accordion-button:not(.collapsed) {
  padding: 10px;
}
.flex-row-mbt{ display: flex;}

.desktop-left-sidebar-navigation  .accordion-button{
  background: transparent;
}





@media only screen and (min-width: 768px) {
  .for-only-mobile-display{display: none !important;}
}
